// page-user.lcss

@import "site-variables.less";
@import "site-base.less";

// &:extend(.class);

.auction-grid {
   &:extend(.flex-rows);
   flex-wrap: wrap;
   gap: 20px;

   max-width: @panel-max-width;
   margin: 0 auto;

   // background-color: rgba(255, 0, 0, 0.2);

   .auction-group {
      min-width: 300px;
      flex: 1 1;
      align-self: auto;

      // background-color: rgba(255, 0, 0, 0.2);
   }

   .auction-image {
      position: relative;
      border: 3px solid @color4;
   }

   .auction-headline {
      margin-bottom: 10px;
      font-family: @font-headline;
      font-size: 20px;
      line-height: 26px;

      color: @color2;

      // padding: 10px;
      // border-top: 2px solid @color4;

      // background-color: rgba(255, 255, 0, 0.2);
   }

   .details {
      align-self: center;
   }

   .details-row {
      &:extend(.flex-center);
      justify-content: space-between;

      padding: 5px 10px;
   }

   .details-row:nth-child(even) {
      background-color: rgba(@color4, 0.5);
   }

   .details-label {
      font-size: 14px;
      color: rgba(@color3, 0.75);
   }

   .details-info {
      color: @color3;
      font-family: @font-headline;
      font-size: 14px;
   }

   // .details-watch {
   //    margin: 5px auto 0;

   //    .watch-btn {
   //       margin-right: 5px;

   //       color: rgba(@color3, 0.5);
   //    }

   //    .watch-btn.checked {
   //       color: @color1;
   //    }

   //    span {
   //       font-size: 12px;
   //       font-family: @font-headline;
   //       color: @color3;
   //    }
   // }

   .current {
      align-self: center;

      .current-label {
         display: block;
         width: 100%;

         font-size: 16px;
         color: rgba(@color3, 0.75);

         margin-bottom: 3px;
         // padding: 2px 10px;
         // background-color: rgba(@color4, 0.5);
      }

      .current-info {
         font-family: @font-headline;
         font-size: 18px;
      }

      .current-info:not(.text-currency) {
         color: @color2;
      }

      .current-info:not(:last-child) {
         margin-bottom: 12px;
      }
   }

   .bid-form {
      align-self: center;
      border: 1px solid @color3;
   }

   img {
      width: 80%;
      height: auto;
      margin: 20px auto;

      // background-color: rgba(255, 0, 0, 0.2);
   }

   // Mobile Adjustments

   // @media screen and (max-width: @site-width) {
   //    // On mobile devices

   //    .mobile-center {
   //       text-align: center;
   //       justify-content: center;
   //       align-self: center;
   //    }
   // }
}
