// page-item.css

@import "site-variables.less";
@import "site-base.less";

// &:extend(.class);

.item-list {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-content: flex-start;
   align-items: flex-start;
   gap: @column-space;
}

.item {
   width: @column-width;

   border: 3px solid rgba(@color3, 0.5);
   border-radius: 0 20px 0 0;
   overflow: hidden;

   .image {
      display: block;
      position: relative;
      width: 100%;
      margin: auto;
      padding: 10px 80px;

      // border-bottom: 1px solid @color4;

      // background-color: rgba(255, 0, 0, 0.25);
   }

   img {
      width: 100%;
      height: auto;
      margin: auto;

      // background-color: rgba(255, 0, 0, 0.2);
   }

   // .watch-btn {
   //    position: absolute;
   //    top: 10px;
   //    right: 10px;
   //    // line-height: 30px;
   //    color: rgba(@color3, 0.5);
   // }

   // .watch-btn.checked {
   //    color: @color1;
   // }

   .label,
   .price,
   .time,
   .owner {
      font-family: @font-headline;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;

      color: @bkgrnd-color;
   }

   .label {
      color: @color3;
      background-color: @color4;
      padding: 5px 10px;
      text-align: left;
   }

   .item-band {
      padding: 5px 10px;
      background-color: rgba(@color3, 0.25);
   }

   .price {
      font-size: 18px;
      line-height: 24px;
      color: @color0;
      // background-color: rgba(@color3, 0.25);
   }

   .owner {
      font-size: 14px;
      line-height: 18px;
      color: @color3;
      // background-color: rgba(@color3, 0.25);

      // background-color: rgba(255, 0, 0, 0.25);
   }

   .item-row {
      &:extend(.flex-center);
      justify-content: space-between;

      padding: 10px;
   }

   .time {
      font-size: 14px;
      color: @color2;

      // background-color: rgba(255, 0, 0, 0.25);
   }

   // .btn-mini {
   //    float: right;
   // }
}

.item:hover {
   border-color: rgba(@color1, 1);
}

// .item:not(:last-child) {
//    margin-bottom: 20px;
// }

// .image-lg {
//    width: 100%;
//    border: 1px solid @color3;
// }
