// site-forms.less

@import "site-variables.less";
@import "site-base.less";

// &:extend(.class);

.form {
   width: 100%;

   // background-color: rgba(255, 0, 0, 0.2);

   .form-text {
      margin: @column-space * 0.5 @column-space;

      &:extend(.text-size2);

      font-family: @font-body;
      font-weight: 400;
      text-align: center;

      color: @color3;
      // background-color: rgba(255, 0, 0, 0.2);
   }

   // Form Group
   // Each group contains a label, input, info text and feedback text

   .form-group,
   .form-group-noselect {
      position: relative;
      margin: @column-space;

      // background-color: rgba(255, 0, 0, 0.2);
   }

   .group-label {
      display: block;
      width: 100%;
      padding: 1px 0;

      &:extend(.text-size1);

      font-family: @font-headline;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;

      color: @bkgrnd-color;
      background-color: @color2;
   }

   .group-label .icon {
      width: 15px;
      float: right;
      margin: 2px 5px 0 -25px;
      font-size: 13px;
   }

   .group-info {
      padding: 5px;
      border-radius: 0;
   }

   .form-info,
   .group-info {
      &:extend(.text-size1);

      font-family: @font-body;
      font-weight: 400;
      text-align: center;

      color: @color3;
   }

   .form-info {
      margin: 0px @column-space;
   }

   .group-invalid {
      margin: 0;
      padding: 2px 5px 0;

      &:extend(.text-size1);

      font-family: @font-body;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;

      color: black;
      background-color: @danger;
   }

   // Input Group

   .input-group {
      &:extend(.size-md,
      .flex-rows);
   }

   .form-input {
      &:extend(.size-md);

      width: 100%;
      margin: 0;
      padding: 0 10px;

      border: 1px solid @color2;
      border-radius: 0;

      font-family: @font-headline;
      font-weight: 400;
      text-align: left;

      color: @color0;
      background-color: @bkgrnd-color;
   }

   .input-group .btn-square {
      border-left: none;
   }

   // Group Focus Emphasis Color

   .form-input:focus,
   .form-group:focus-within,
   .form-group:focus-within .form-input,
   .form-group:focus-within .form-textarea {
      color: @color0;
      border-color: @emphasis;
   }

   .form-group:focus-within .form-output,
   .form-group:focus-within .form-output-body {
      border-color: @emphasis;
   }

   .form-group:focus-within .group-label {
      color: @bkgrnd-color;
      border-color: @emphasis;
      background-color: @emphasis;
   }

   .form-group:focus-within .btn {
      color: @emphasis;
      border-color: @emphasis;
      background-color: @bkgrnd-color;
   }

   .form-group:focus-within .btn:hover {
      color: @bkgrnd-color;
      background-color: @emphasis;
   }

   // Password Strength Meter

   .password-meter {
      width: 100px;
      height: 10px;
      margin: 0 auto;

      border-left: 1px solid @color3;

      &:extend(.flex-rows);
   }

   .meter-box {
      flex: 1 1 auto;
      align-self: auto;

      min-width: 15px;
      height: 100%;
      border: 1px solid @color3;
      border-left: 0;
   }

   .meter-fill {
      background-color: @color2;
   }

   .form-textarea {
      width: 100%;
      min-height: 40px;
      margin: 0;
      padding: 10px;

      &:extend(.text-size2);

      font-family: @font-body;
      font-weight: 400;
      text-align: left;
      color: @color0;

      border: 1px solid @color2;
      // border-top: none;
      border-radius: 0;

      background-color: @bkgrnd-color;

      resize: vertical;
   }

   .form-output,
   .form-output-body {
      &:extend(.size-md);

      width: 100%;
      margin: 0;
      padding: 0 10px;

      border: 1px solid @color2;
      border-radius: 0;

      font-family: @font-headline;
      font-weight: 400;
      text-align: left;

      color: @color2;
      background-color: @color4;

      pointer-events: none;
      user-select: none;
   }

   .form-output-body {
      height: auto;
      min-height: @md;
      padding: 10px;

      border-bottom: none;

      font-size: 16px;
      line-height: 20px;
      font-family: @font-body;
   }

   .slider {
      &:extend(.flex-center);

      flex: 1 1 auto;
      align-self: auto;
   }

   .slider-display {
      width: 80px;

      flex: 0 1 auto;
      align-self: auto;

      text-align: center;
      border: 1px solid @color2;
      border-left: none;
   }

   // form-switch off / on

   .form-switch {
      &:extend(.size-md);

      width: 100%;
      margin: 0;
      padding: 0 10px;

      border: 1px solid @color2;
      border-radius: 0;

      font-size: 20px;
      font-family: @font-headline;
      font-weight: 700;
      text-align: center;

      // color: @color0;
      background-color: @bkgrnd-color;
   }

   // Multi-column Wrap Grid

   .flex-multi {
      margin: @column-space;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;

      gap: @column-space;

      // background-color: rgba(255, 0, 0, 0.2);

      .flex-item {
         flex: 1 1 auto;
         align-self: flex-start;

         // background-color: rgba(255, 255, 0, 0.2);
      }
   }

   // 2-column Wrap Grid
   // Overwrite flex-grid margins when used inside form panel

   .flex-grid {
      margin: 20px;

      .grid-box {
         margin: auto;
      }
   }

   /* CHECK BOX & RADIO BUTTON */

   .form-select {
      &:extend(.size-sm);

      display: inline-block;
      margin: auto;

      // background-color: rgba(255, 255, 0, 0.2);
   }

   .form-check-input,
   .form-radio-input {
      opacity: 0.01;
      position: absolute;
   }

   .form-select-label {
      position: relative;
      display: flex;
      align-items: center;

      &:extend(.size-sm);
      font-size: 16px;

      font-family: @font-body;
      font-weight: 400;

      color: @color2;

      user-select: none;
      pointer-events: all;
      cursor: pointer;

      transition-delay: 0s;
      transition-duration: 150ms;
      transition-property: all;
      transition-timing-function: ease-in-out;
   }

   .form-select-label:hover {
      color: @emphasis;
   }

   .form-select .icon {
      margin-right: 10px;

      font-size: 26px;
   }

   .qty {
      margin-left: 5px;

      color: @color3;
   }

   // left icons in input field

   .input-group .form-input.icon-left {
      padding-left: 35px;
   }

   .input-group .icon.icon-left {
      position: absolute;
      left: 10px;
      line-height: inherit;
      color: @color2;
      pointer-events: none;
   }
}

// form-group select menu

.form-group .select {
   position: relative;

   select {
      width: 100%;
      height: 100%;

      // background-color: rgba(255, 0, 0, 0.25);
   }

   .icon {
      position: absolute;
      right: 10px;
      line-height: inherit;
      color: @color2;
      pointer-events: none;
   }
}

// Autofill Hacks

.form-input,
.form-input:-webkit-autofill,
.form-input:-webkit-autofill:hover,
.form-input:-webkit-autofill:focus,
.form-input:-webkit-autofill::first-line {
   font-size: 18px !important;
   color: @color0 !important;
   font-family: @font-headline !important;
   background: @bkgrnd-color !important;

   outline: none !important;
   -moz-appearance: none;
   -webkit-appearance: none;

   -webkit-text-fill-color: @color0 !important;
   -webkit-box-shadow: 0 0 0 30px @bkgrnd-color inset !important;

   -webkit-animation: autofill 0s both;
   animation: autofill 0s both;
}

@keyframes autofill {
   100% {
      font-size: 18px !important;
      color: @color0 !important;
      font-family: @font-headline !important;
      background: @bkgrnd-color !important;
   }
}

@-webkit-keyframes autofill {
   100% {
      font-size: 18px !important;
      color: @color0 !important;
      font-family: @font-headline !important;
      background: @bkgrnd-color !important;
   }
}
