// site-panels.less

@import "site-variables.less";
@import "site-base.less";

// &:extend(.class);

@header-height: 30px;
@footer-height: 20px;
@corner-size: 20px;

.panel {
   position: relative;
   width: 100%;
   max-width: @panel-max-width;
   min-height: 200px;
   margin: 0 auto;
   border: 1px solid @color3;
   border-radius: 0 @footer-height 0 @footer-height;

   background-color: @bkgrnd-color;

   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: flex-start;
   align-content: space-between;
   align-items: flex-start;

   // Panel Areas

   .panel-header {
      flex: 0 1 auto;
      align-self: auto;

      width: 100%;
      height: @header-height;
      display: flex;

      // background-color: rgba(255, 0, 0, 0.2);

      display: flex;
   }

   .panel-content {
      flex: 1 1 auto;
      align-self: auto;

      width: 100%;

      // background-color: rgba(0, 255, 0, 0.2);
   }

   .panel-footer {
      flex: 0 1 auto;
      align-self: auto;

      width: 100%;
      height: @footer-height;

      display: flex;

      // background-color: rgba(0, 0, 255, 0.2);
   }

   // Header / Footer Panel Areas

   .panel-left {
      flex: 0 1 auto;

      // background-color: rgba(255, 0, 0, 0.2);

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
   }

   .panel-mid {
      flex: 1 1 auto;

      // background-color: rgba(0, 255, 255, 0.2);
   }

   .panel-right {
      flex: 0 1 @corner-size;

      color: @color3;
      text-align: left;
      vertical-align: baseline;

      &:extend(.text-size5);

      // background-color: rgba(0, 0, 255, 0.2);
   }

   .close-btn {
      margin: 5px;

      cursor: pointer;
   }

   .close-btn:hover {
      color: @emphasis;
   }

   // Panel Header

   .panel-label,
   .section-label {
      height: @header-height;
      padding: 0 10px 0 20px;

      font-family: @font-headline;
      font-weight: 700;
      text-align: left;
      text-transform: uppercase;

      color: @bkgrnd-color;
      background-color: @color3;

      &:extend(.text-size1);

      line-height: @header-height;
   }

   .section-label {
      color: @color3;
      background-color: @color4;

      border-top: 1px solid @color3;
   }

   // .panel-label > .icon,
   // .section-label > .icon {
   //    margin-right: 5px;
   // }

   .panel-triangle-tl {
      width: @header-height;
      margin-right: -10px;
      border-top: @header-height solid @color3;
      border-right: @header-height solid transparent;
   }

   .panel-header .panel-mid {
      padding-left: 10px;
      // background-color: rgba(0, 255, 255, 0.2);
   }

   // Panel Corners

   .panel-corner {
      width: @corner-size;
      height: @corner-size;

      border-color: @color3;
      border-style: solid;
   }

   .panel-corner-tr {
      position: absolute;
      right: 0;
      top: 0;
      border-width: 4px 4px 0 0;
      border-radius: 0 @corner-size;
   }

   .panel-corner-bl {
      border-width: 0 0 4px 4px;
      border-radius: 0 @corner-size;
   }

   .panel-corner-br {
      position: absolute;
      right: 0;
      bottom: 0;
      border-width: 0 4px 4px 0;
   }

   // Panel Footer

   .panel-footer {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: flex-end;
   }

   .panel-footer-mid {
      width: 50%;
      height: 10px;
      margin: auto auto 0;

      border-color: @color3;
      border-width: 0 1px 4px 1px;
      border-style: solid;
   }

   // Panel Stripes

   .stripe,
   .stripe-bkgrnd {
      width: 10px;
      height: 100%;
      margin: 0 5px;
      transform: skew(-45deg);
   }

   .stripe1 {
      background-color: rgba(@color3, 0.75);
   }

   .stripe2 {
      background-color: rgba(@color3, 0.5);
   }

   .stripe3 {
      background-color: rgba(@color3, 0.25);
   }

   .stripe-bkgrnd {
      background-color: @bkgrnd-color;
   }
}

// Button Group Row

.btn-group {
   &:extend(.size-md,
   .flex-rows);

   margin: @column-space 0;
}

.btn-space {
   flex: 1 1 auto;
   align-self: auto;
   height: 100%;
   margin: 0 5px;
   border: 1px solid @color4;
   background-color: @color4;
}

.btn-space:first-child {
   margin: 0 5px 0 0;
}

.btn-space:last-child {
   margin: 0 0 0 5px;
}

.btn-hold {
   flex: 0 1 auto;
   align-self: auto;
   height: 100%;
   margin: 0 5px;
}

// Modal Window

.modal {
   &:extend(.fullscreen);
   &:extend(.fade);
   &:extend(.flex-center);

   padding: @column-space;
   z-index: 9999;

   .panel {
      box-shadow: 0 10px 30px 0 rgba(@bkgrnd-color, 1), 0 10px 60px 0 rgba(@color3, 0.6);
   }
}

// 2-column Wrap Grid

.flex-grid {
   &:extend(.flex-rows);
   flex-wrap: wrap;
   gap: 20px;

   max-width: @panel-max-width;
   margin: 0 auto;

   // background-color: rgba(255, 0, 0, 0.2);

   .grid-box {
      min-width: 300px;
      flex: 1 1;
      align-self: auto;

      // background-color: rgba(255, 0, 0, 0.2);
   }
}

// Details Chart

.details {
   display: block;
   margin: auto;
   max-width: @column-width * 1.25;

   align-self: center;

   .details-border {
      border: 3px solid rgba(@color4, 0.5);
   }

   .details-row {
      &:extend(.flex-center);

      justify-content: space-between;

      padding: 5px 10px;
   }

   .details-row:nth-child(even) {
      background-color: rgba(@color4, 0.5);
   }

   .details-headline {
      margin-bottom: 10px;

      &:extend(.text-size4);

      font-family: @font-headline;
      color: @color2;

      // background-color: rgba(255, 255, 0, 0.2);
   }

   .details-label {
      &:extend(.text-size1);

      color: rgba(@color3, 0.75);
   }

   .details-info {
      &:extend(.text-size1);

      color: @color3;
      font-family: @font-headline;
   }

   .details-center {
      width: 100%;

      &:extend(.text-size1);

      color: @color2;
      font-family: @font-headline;
      text-align: center;
   }
}
