// site-buttons.less

@import "site-variables.less";
@import "site-base.less";

// &:extend(.class);

// Buttons

.btn {
   display: inline-block;
   position: relative;

   outline: none;

   text-align: center;
   font-weight: 700;
   white-space: nowrap;

   pointer-events: all;
   cursor: pointer;

   transition-delay: 0s;
   transition-duration: 150ms;
   transition-property: all;
   transition-timing-function: ease-in-out;
}

// Buttons

.btn-primary,
.btn-primary-outline,
.btn-secondary,
.btn-secondary-outline,
.btn-color3-outline,
.btn-danger {
   &:extend(.size-md);

   font-family: @font-headline;
   text-align: center;

   display: inline-block;
   padding: 0 30px;
   margin: 0;
   border: solid 1px;
}

.btn-primary > .icon,
.btn-primary-outline > .icon,
.btn-secondary > .icon,
.btn-secondary-outline > .icon,
.btn-color3-outline > .icon,
.btn-danger > .icon {
   margin: 0 5px 0 -2px;
}

// btn-primary

.btn-primary {
   color: @bkgrnd-color;
   background-color: @color1;
   border-color: @color1;
}

.btn-primary:hover {
   border-color: @emphasis;
   background-color: @emphasis;
   // color: @color1;
   // background-color: @bkgrnd-color;
}

// btn-primary-outline

.btn-primary-outline {
   color: @color1;
   background-color: @bkgrnd-color;
   border-color: @color1;
}

.btn-primary-outline:hover {
   color: @bkgrnd-color;
   background-color: @color1;
}

// btn-secondary

.btn-secondary {
   color: @bkgrnd-color;
   background-color: @color2;
   border-color: @color2;
}

.btn-secondary:hover {
   border-color: @emphasis;
   background-color: @emphasis;
   // color: @color2;
   // background-color: @bkgrnd-color;
}

// btn-secondary-outline

.btn-secondary-outline {
   color: @color2;
   background-color: @bkgrnd-color;
   border-color: @color2;
}

.btn-secondary-outline:hover {
   color: @bkgrnd-color;
   border-color: @emphasis;
   background-color: @emphasis;
   // background-color: @color2;
}

// btn-danger

.btn-danger {
   color: @bkgrnd-color;
   background-color: @danger;
   border-color: @danger;
}

.btn-danger:hover {
   border-color: @emphasis;
   background-color: @emphasis;
   // color: @color1;
   // background-color: @bkgrnd-color;
}

// btn-color3-outline

.btn-color3-outline {
   color: @color3;
   background-color: @bkgrnd-color;
   border-color: @color3;
}

.btn-color3-outline:hover {
   color: @bkgrnd-color;
   background-color: @color3;
}

// btn-square

.btn-square {
   padding: 0;
}

.btn-square > .icon {
   margin: 0;
}

// btn-sm

.btn-sm {
   &:extend(.size-sm);

   padding: 0 10px;
}

// btn-mini

.btn-mini {
   &:extend(.size-mini);

   padding: 0 5px;
}

// btn-link - text link button

.btn-link {
   text-decoration: none;
   white-space: nowrap;
   color: @color2;
   font-family: @font-headline;
}

.btn-link:hover {
   color: @emphasis;
   // text-decoration: underline;
}

.btn-link > .icon {
   margin: 0 5px;
}

.btn-link-group {
   margin: @column-space;

   font-size: 16px;
   font-family: @font-body;
   font-weight: 400;
   line-height: 22px;
   text-align: center;
   color: @color3;
}

// btn-round

.btn-round {
   &:extend(.size-md);

   border: 2px solid @color2;
   border-radius: 50%;

   color: @bkgrnd-color;
   background-color: @color2;
}

.btn-round:hover {
   color: @color2;
   background-color: @bkgrnd-color;
}

// btn-icon

.btn-icon {
   &:extend(.size-md);

   color: rgba(@color3, 0.5);
   // background-color: rgba(255, 0, 0, 0.25);
}

.btn-icon.checked {
   color: @color1;
}

.btn-icon:hover {
   color: @emphasis;
}

// btn-text

.btn-text {
   text-decoration: none;
   white-space: nowrap;
   color: @color2;
   font-family: @font-body;
   font-weight: 700;
}

.btn-text:hover {
   color: @emphasis;
   // text-decoration: underline;
}

// btn-switch

.btn-switch {
   color: @color3;
}

.btn-switch:hover {
   color: @emphasis;
}

// pagination

.pagination {
   margin-top: 20px;

   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-content: flex-start;
   align-items: flex-start;
   gap: 5px;

   .page-btn {
      min-width: 40px;
      padding: 8px 10px;

      color: @color2;
      font-size: 14px;
      font-family: @font-headline;
      font-weight: 700;
      text-decoration: none;
      border: 1px solid @color3;
      border-radius: 5px;

      background-color: @bkgrnd-color;
   }

   .page-btn.active {
      color: @bkgrnd-color;
      border-color: @color2;
      background-color: @color2;
   }

   .page-btn:hover:not(.active) {
      background-color: rgba(@color3, 0.25);
   }

   .inactive {
      opacity: 0.25;
      // border-color: rgba(@color3, 0.5);
      pointer-events: none;
      cursor: none;
   }
}
