// site-variables.less

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Kanit:wght@400;700&display=swap");

@color0: #ffffff;
@color1: #32ffc8;
@color2: #32c8ff;
@color3: #1964e1;
@color4: #072352;

@text-color: #cccccc;
@bkgrnd-color: #00142d;

@emphasis: #ff9900;

@success: #00c851;
@danger: #ff4444;
@warning: #ffbb33;
@info: #1964e1;

@font-headline: "Orbitron", monospace;
@font-body: "Kanit", sans-serif;

@lg: 50px;
@md: 40px;
@sm: 30px;

@column-width: 350px;
@column-space: 20px;

@panel-max-width: @column-width * 2 + @column-space;
@site-width: @column-width * 3 + @column-space * 2;
